[Unit]
Description=Cotune Bootstrap Node
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/deerelk/cotune-node

# Загружаем env-файл
EnvironmentFile=/home/deerelk/cotune-node/bootstrap.env

# Запуск БЕЗ флагов
ExecStart=/home/deerelk/cotune-node/cotune-bootstrap

Restart=always
RestartSec=5
User=deerelk

StandardOutput=journal
StandardError=journal
SyslogIdentifier=cotune-bootstrap

[Install]
WantedBy=multi-user.target
