# IDE
.idea/
*.iml

# Flutter
flutter-app/.dart_tool/
flutter-app/build/
flutter-app/.flutter-plugins
flutter-app/.flutter-plugins-dependencies
flutter-app/android/.gradle/
flutter-app/android/local.properties
flutter-app/android/build/

# Android artifacts
**/*.apk
**/*.aab
flutter-app/android/app/libs/*.aar

# Go
go-backend/vendor/
bootstrap/vendor/
*.log

# bootstrap
*.swp
bootstrap/*.key
bootstrap.key
bootstrap/*.env
bootstrap.env
!bootstrap/*.example.env

# gomobile
*.aar
*.jar

#jni
cotune-daemon
.so

# Secrets
*.keystore
*.jks
.env

# Binaries
cotune-bootstrap
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
go-backend/vendor/

# Go workspace file
go.work