# ================================
# Cotune Bootstrap Node ENV
# ================================

# Public IPv4 address of this server.
# Used for advertising reachable multiaddr.
# If empty, node advertises only local interfaces.
PUBLIC_IP=1.2.3.4

# Libp2p listen address (multiaddr format)
# Should usually be 0.0.0.0
LISTEN_ADDR=/ip4/0.0.0.0/tcp/4001

# Path to libp2p private key (base64 encoded)
BOOTSTRAP_KEY_PATH=/home/deerelk/cotune-node/bootstrap.key
